// banner start
div#banner.banner.clearfix

    // slideshow start
    div.slideshow

        // slider revolution start
        div.slider-banner-container

            div.slider-banner-fullscreen

                ul.slides

                    li(
                        data-transition="random-static",
                        data-slotamount="7",
                        data-masterspeed="500",
                        data-saveperformance="on"
                        data-title="Super title")

                        img(
                            src="public/images/lorenzo_mac.jpg",
                            data-bgposition="right top"
                            data-bgrepeat="no-repeat"
                            data-bgfit="cover")

                        // Transparent Background
                        div.tp-caption.dark-translucent-bg(
                            data-x="center",
                            data-y="bottom",
                            data-speed="500"
                            data-easing="easeOutQuad",
                            data-start="0")

                        // LAYER NR. 1
                        div.tp-caption.sfr.stl.xlarge_white(
                            data-x="center",
                            data-y="70",
                            data-speed="200",
                            data-easing="easeOutQuad",
                            data-start="1000",
                            data-splitin="chars",
                            data-elementdelay="0.1",
                            data-endelementdelay="0.1",
                            data-end="3300",
                            data-splitout="chars") Mobile Applications


                        // LAYER NR. 2
                        div.tp-caption.sfl.str.xlarge_white(
                            data-x="center",
                            data-y="70",
                            data-speed="200",
                            data-easing="easeOutQuad",
                            data-start="3500",
                            data-end="6200",
                            data-splitin="chars",
                            data-elementdelay="0.1",
                            data-endelementdelay="0.1",
                            data-splitout="chars") Web Applications


                        // LAYER NR. 3
                        div.tp-caption.sfr.stt.xlarge_white(
                            data-x="center",
                            data-y="70",
                            data-speed="200",
                            data-easing="easeOutQuad",
                            data-start="6500",
                            data-end="9000",
                            data-splitin="chars",
                            data-elementdelay="0.1",
                            data-endelementdelay="0.1",
                            data-splitout="chars",
                            data-endspeed="400") UX Design


                        // LAYER NR. 4
                        div.tp-caption.sft.fadeout.text-center.large_white(
                            data-x="center",
                            data-y="100",
                            data-speed="500",
                            data-easing="easeOutQuad",
                            data-start="9400")

                            span.logo-font.font-handwritten Lorenzo Rigato
                                //span.text-default



                        // LAYER NR. 5
                        div.tp-caption.sfr.fadeout(
                            data-x="center",
                            data-y="210",
                            data-hoffset="-232",
                            data-speed="500",
                            data-easing="easeOutQuad",
                            data-start="1000"
                            data-end="9500")

                            span.icon.large.circle
                                i.circle.fa.fa-mobile

                        // LAYER NR. 6
                        div.tp-caption.sfl.fadeout(
                            data-x="center",
                            data-y="210",
                            data-speed="500",
                            data-easing="easeOutQuad",
                            data-start="4000",
                            data-end="9500")

                            span.icon.large.circle
                                i.circle.fa.fa-desktop


                        // LAYER NR. 7
                        div.tp-caption.sfr.fadeout(
                            data-x="center",
                            data-y="210",
                            data-hoffset="232",
                            data-speed="500",
                            data-easing="easeOutQuad",
                            data-start="6500",
                            data-end="9500")

                            span.icon.large.circle
                                i.circle.fa.fa-lightbulb-o


                        // LAYER NR. 8
                        div.tp-caption.ZoomIn.fadeout.text-center.tp-resizeme.large_white(
                            data-x="center",
                            data-y="170",
                            data-speed="500",
                            data-easing="easeOutQuad",
                            data-start="9000")

                            div.separator.light


                        // LAYER NR. 9
                        div.tp-caption.sft.fadeout.text-center.medium_white(
                            data-x="center",
                            data-y="210",
                            data-speed="500",
                            data-easing="easeOutQuad",
                            data-start="9800",
                            data-endspeed="600")

                            .
                                Web, Android & iOS Developer

                            br

                            form(method="get", action="public/files/CV_Lorenzo_Rigato.pdf")
                                button.btn.btn-lg.btn-default.btn-animated.margin-clear(type="submit")
                                    .
                                        Download CV
                                    i.fa.fa-download


                        // LAYER NR. 10
                        div.tp-caption.fade.fadeout(
                            data-x="center",
                            data-y="bottom",
                            data-voffset="100",
                            data-speed="500",
                            data-easing="easeOutQuad",
                            data-start="10400")

                            a.btn.btn-lg.moving.smooth-scroll(
                                href="#page-start")

                                i.icon-down-open-big
                                i.icon-down-open-big
                                i.icon-down-open-big

                div.tp-bannertimer
