-
    var contacts = {
        address: "Strada Sant'Angelo, 28/A, 31100, Treviso",
        cellphone: "+39 333 8600532",
        email: "lore91tanz@gmail.com"
    }

    var socials = [
        {
            name: "facebook",
            url: "https://www.facebook.com/lorenzoatrix"
        },
        {
            name: "linkedin",
            url: "https://www.linkedin.com/in/lorenzo-rigato-0370894b"
        },
        {
            name: "github",
            url: "https://github.com/llollox"
        }
    ]

footer#footer.clearfix

    div.footer
        div.container
            div.footer-innerj
                div.row

                    div.col-sm-6.col-md-3.col-lg-4.col-lg-offset-1

                        div.footer-content

                            h2.title Find Me
                            ul.list-icons
                                li
                                    i.fa.fa-map-marker.pr-10.text-default
                                    .
                                        #{contacts.address}
                                li
                                    i.fa.fa-phone.pr-10.text-default
                                    .
                                        #{contacts.cellphone}
                                li
                                    a(href="mailto:" + contacts.email)
                                        i.fa.fa-envelope-o.pr-10
                                        .
                                            #{contacts.email}

                            //a.collapsed.map-show.btn-lg-link.padding-hor-clear(
                            //    data-toggle="collapse",
                            //    href="#collapseContact",
                            //    aria-expanded="false",
                            //    aria-controls="collapseContact")
                            //    i.fa.fa-envelope.pr-20
                            //    .
                            //        Contact Me


                    div.col-sm-6.col-md-3.col-lg-4.col-lg-offset-1

                        div.footer-content

                            h2.title Follow Me

                            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro fugiat accusantium similique modi alias consectetur nesciunt.

                            ul.social-links.large.circle.animated-effect-1

                                each social in socials

                                    li(class=social.name)
                                        a(target="_blank", href=social.url)
                                            i.fa(class="fa-" + social.name)

    div.subfooter
        div.container
            div.subfooter-inner
                div.row
                    div.col-md-12
                        p.text-center
                            a(href="#") Lorenzo Rigato
                            .
                                - Web, Android & iOS Developer
