-
    var contacts = {
        address: "Viale Brigata Marche, 31100, Treviso",
        cellphone: "+393338600532",
        email: "lore91tanz@gmail.com"
    }

    var socials = [
        {
            name: "facebook",
            url: "https://www.facebook.com/lorenzoatrix"
        },
        {
            name: "linkedin",
            url: "https://www.linkedin.com/in/lorenzo-rigato-0370894b"
        },
        {
            name: "github",
            url: "https://github.com/llollox"
        },
        {
            name: "youtube",
            url: "https://www.youtube.com/channel/UC7kHsHfZoo-R7ZR-XBj-W9w"
        },
        {
            name: "instagram",
            url: "https://www.instagram.com/llollox/"
        },
        {
            name: "skype",
            url: "skype:llollox?call"
        },
        {
            name: "spotify",
            url: "https://open.spotify.com/user/1166852425/playlist/720upmEZVDlKqNlAmxaGpB"
        }
    ]

footer#footer.clearfix

    div.footer
        div.container
            div.footer-innerj
                div.row

                    div.col-sm-6.col-md-3.col-lg-4.col-lg-offset-1

                        div.footer-content

                            h2.title Find Me
                            ul.list-icons
                                li
                                    i.fa.fa-map-marker.pr-10.text-default
                                    .
                                        #{contacts.address}
                                li
                                    a(href="tel:" + contacts.cellphone)
                                        i.fa.fa-phone.pr-10.text-default
                                        .
                                            #{contacts.cellphone}
                                li
                                    a(href="mailto:" + contacts.email)
                                        i.fa.fa-envelope-o.pr-10
                                        .
                                            #{contacts.email}

                                li
                                    a(href="https://t.me/lorenzorigato")
                                        i.fa.fa-telegram.pr-10
                                        .
                                            Send me a message


                    div.col-sm-6.col-md-3.col-lg-4.col-lg-offset-1

                        div.footer-content

                            h2.title Follow Me

                            p Get in touch with me! :) Below my accounts.

                            ul.social-links.large.circle.animated-effect-1

                                each social in socials

                                    li(class=social.name)
                                        a(target="_blank", href=social.url)
                                            i.fa(class="fa-" + social.name)

    div.subfooter
        div.container
            div.subfooter-inner
                div.row
                    div.col-md-12
                        p.text-center.smooth-scroll
                            a(href="#home") Lorenzo Rigato
                            span  - Web, Android & iOS Developer
