nav.navbar.navbar-default(role='navigation')
    div.container-fluid

        // Toggle get grouped for better mobile displa
        div.navbar-header
            button.navbar-toggle(type='button', data-toggle='collapse', data-target='#navbar-collapse-1')
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar

            // header-left start
            div.header-left.clearfix

                // logo
                div#logo.logo.smooth-scroll
                    a(href='#home').font-handwritten.font-size-28.display-block.margin-top-4.color-gray Lorenzo Rigato

                // name-and-slogan
                //div.site-slogan.hidden-x Web and mobile Developer



        div.collapse.navbar-collapse.scrollspy.smooth-scroll#navbar-collapse-1
            ul.nav.navbar-nav.navbar-right
                li
                    a.trn(href='#home') navbar.home
                li
                    a.trn(href='#about') navbar.about
                li
                    a.trn(href='#references') navbar.references
                li
                    a.trn(href='#skills') navbar.skills
                li
                    a.trn(href='#portfolio') navbar.projects
                li
                    a.trn(href='#footer') navbar.contacts
                
                li.dropdown
                    a.dropdown-toggle.trn(
                        href="#menu",
                        data-toggle="dropdown",
                        role="button",
                        aria-haspopup="true",
                        aria-expanded="false") navbar.language

                    ul.dropdown-menu
                        li
                            a.trn(href="#english" onClick="javascript:changeLanguage('en')") navbar.english
                        li
                            a.trn(href="#italian" onClick="javascript:changeLanguage('it')") navbar.italian

                li.visible-xs
                    a(href='public/files/CV_Lorenzo_Rigato.pdf') Download CV
