-
    var projects = [
        {
            name: "Treviso Aziende",
            date: "January 2017",
            tags: "Ruby on Rails, Web",
            url: "http://www.trevisoaziende.com/",
            carousel: [
                "public/images/projects/w500/tva/home.jpg",
                "public/images/projects/w500/tva/list.jpg",
                "public/images/projects/w500/tva/details.jpg"
            ]
        },
        {
            name: "Studio 4 Audioservizi",
            date: "February 2016",
            tags: "Ruby on Rails, Web",
            image_url: "public/images/projects/studio4audioservizi350.gif",
            url: "http://www.studio4audioservizi.com/"
        },
        {
            name: "West Road Bike",
            date: "December 2017",
            tags: "Ruby on Rails, Web",
            image_url: "public/images/projects/w500/westroadbike.jpg",
            url: "http://www.trevisoaziende.com/"
        },
        {
            name: "Android Toggle Switch",
            date: "June 2017",
            tags: "Android",
            image_url: "public/images/projects/w500/androidtoggleswitch.gif",
            url: "https://github.com/llollox/Android-Toggle-Switch/tree/kotlin"
        },
        {
            name: "Quanto Spreco?",
            date: "December 2015",
            tags: "Android, Ruby on Rails",
            image_url: "public/images/projects/w500/quantospreco.jpg",
            url: "http://ict4g.org/smartpantry"
        },
        {
            name: "Android Compound Buttons",
            date: "March 2017",
            tags: "Android",
            image_url: "public/images/projects/w500/androidcompoundbuttons.gif",
            url: "https://github.com/llollox/CompoundButtonGroup"
        },
        {
            name: "WDate - Wrapper of Date",
            date: "January 2017",
            tags: "Android",
            image_url: "public/images/projects/w500/wdate.jpg",
            url: "https://github.com/llollox/WDate-Wrapper-of-Date-Android"
        },
        {
            name: "Responsive Wizard",
            date: "April 2017",
            tags: "CSS",
            image_url: "public/images/projects/w500/responsivewizard.gif",
            url: "https://github.com/llollox/ResponsiveWizard"
        }
    ]

section.section.pv-30
    div.container

        div.row
            div.col-md-8.col-md-offset-2.text-center
                h2.title
                    span.text-muted Recent
                    span.text-default Projects
                div.separator


        div.filters.text-center
            ul.nav.nav-pills.style-2
                li.active
                    a(href="#", data-filter="*") All
                li
                    a(href="#", data-filter=".web") Web
                li
                    a(href="#", data-filter=".android") Android
                li
                    a(href="#", data-filter=".css") CSS



        div.isotope-container.row.grid-space-0

            each project in projects

                if project.carousel

                    div.col-sm-6.col-md-3.isotope-item.android

                        div#carousel-portfolio.carousel.slide(data-ride="carousel")
                            ol.carousel-indicators.bottom.margin-clear

                                each item, index in project.carousel
                                    li(data-target='#carousel-portfolio', data-slide-to=index, class=index == 0 ? "active" : "")

                            div.carousel-inner(role="listbox")

                                each item, index in project.carousel
                                    div.item(class=index == 0 ? "active" : "")
                                        div.image-box.text-center
                                            div.overlay-container
                                                img(src=item)
                                                div.overlay-top
                                                    div.text
                                                        h3
                                                            a(href=project.url, target="_blank")= project.name
                                                            p.small Web Design
                                                div.overlay-bottom
                                                    div.links
                                                        a(href=project.url, target="_blank").btn.btn-gray-transparent.btn-animated.btn-sm
                                                            .
                                                                View Details
                                                            i.pl-10.fa.fa-arrow-right
                else

                    div.col-sm-6.col-md-3.isotope-item.android

                        div.image-box.text-center
                            div.overlay-container
                                img(src=project.image_url)

                                div.overlay-top
                                    div.text
                                        h3
                                            a(href=project.url, target="_blank")= project.name
                                        p.small Android

                                div.overlay-bottom
                                    div.links
                                        a(href=project.url, target="_blank").btn.btn-gray-transparent.btn-animated.btn-sm
                                            .
                                                View Details
                                            i.pl-10.fa.fa-arrow-right
