-
    var projects = [
        {
            name: "Treviso Aziende",
            date: "January 2017",
            tags: "Ruby on Rails, Web",
            image_url: "public/images/projects/trevisoaziende350.gif",
            url: "http://www.trevisoaziende.com/"
        },
        {
            name: "Studio 4 Audioservizi",
            date: "February 2016",
            tags: "Ruby on Rails, Web",
            image_url: "public/images/projects/studio4audioservizi350.gif",
            url: "http://www.studio4audioservizi.com/"
        },
        {
            name: "West Road Bike",
            date: "December 2017",
            tags: "Ruby on Rails, Web",
            image_url: "public/images/projects/westroadbike350.gif",
            url: "http://www.trevisoaziende.com/"
        }
    ]

section#portfolio.section.pv-40.light-gray-bg
    div.container

        div.row
            div.col-md-8.col-md-offset-2.text-center
                h2.title
                    span.text-muted Recent
                    span.text-default Projects

                div.separator

                p.lead Lorem ipsum dolor sit amet, consectetur adipisicing elit Illo quaerat <br> commodi excepturi dignissimos!
                br

        div.col-md-10.col-md-offset-1

            each project, index in projects

                div.image-box.style-3-b.margin-top-40.object-non-visible(data-animation-effect="fadeInUpSmall", data-effect-delay="200")
                    div.row.text-align-center

                        if index % 2 == 0
                            div.col-sm-6
                                a(href=project.url, target="_blank")
                                    img.width-100per(src=project.image_url)

                            div.col-sm-6
                                div.body
                                    h3.title
                                        a(href=project.url, target="_blank")= project.name

                                p.small.mb-10
                                    i.icon-calendar= " " + project.date
                                    i.pl-10.icon-tag-1= " " + project.tags
                                div.separator-2
                                p.mb-10 Lorem ipsum dolor sit amet, adipisicing elit. Aliquam atque ipsam nihialal. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam laudantium, provident culpa saepe.
                                p
                                    a(href="#") Read More

                        else
                            div.col-sm-6
                                div.body
                                    h3.title
                                        a(href=project.url, target="_blank")= project.name

                                p.small.mb-10
                                    i.icon-calendar= " " + project.date
                                    i.pl-10.icon-tag-1= " " + project.tags

                                div.separator-2
                                p.mb-10 Lorem ipsum dolor sit amet, adipisicing elit. Aliquam atque ipsam nihialal. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam laudantium, provident culpa saepe.
                                p
                                    a(href="#") Read More

                            div.col-sm-6
                                a(href=project.url, target="_blank")
                                    img.width-100per(src=project.image_url)

            //div.image-box.style-3-b
            //    div.row
            //
            //        div.col-sm-6.col-md-4
            //            div.shadow.bordered
            //                img(src="public/images/portfolio-1.jpg")
            //        div.col-sm-6.col-md-8
            //            div.body
            //                h3.title
            //                    a(href="#") Project Title
            //            p.small.mb-10
            //                i.icon-calendar
            //                .
            //                    Feb, 2016
            //                i.pl-10.icon-tag-1
            //                .
            //                    Web Design
            //            div.separator-2
            //            p.mb-10 Lorem ipsum dolor sit amet, adipisicing elit. Aliquam atque ipsam nihialal. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam laudantium, provident culpa saepe.
            //            p
            //                a(href="#") Read More
            //
            //
            //div.image-box.style-3-b
            //    div.row
            //
            //        div.col-sm-6.col-md-4
            //            div.shadow.bordered
            //                img(src="public/images/portfolio-1.jpg")
            //        div.col-sm-6.col-md-8
            //            div.body
            //                h3.title
            //                    a(href="#") Project Title
            //            p.small.mb-10
            //                i.icon-calendar
            //                .
            //                    Feb, 2016
            //                i.pl-10.icon-tag-1
            //                .
            //                    Web Design
            //            div.separator-2
            //            p.mb-10 Lorem ipsum dolor sit amet, adipisicing elit. Aliquam atque ipsam nihialal. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam laudantium, provident culpa saepe.
            //            p
            //                a(href="#") Read More

