-
    var references = [
        {
            title: "Just Perfect!",
            description: "Lorenzo is an able and independent developer. " +
            "In my experience he did his work autonomously, " +
            "providing also some improvements outside his study. Like designing the user interface.",
            author: {
                fullname: "Giulio Michelon",
                position: "CEO Belka",
                image: "people/giulio-michelon.jpg"
            }
        }
    ]


section#references.stats.padding-bottom-clear.dark-translucent-bg.parallax.hovered.references(
    style="background-image:url('public/images/macbook_pencil.jpg'); background-position: 50% 50%;")

    div.clearfix

        div.default-translucent-bg.text-center
            div.pv-40.object-non-visible(
                data-animation-effect="fadeIn", data-effect-delay="300")

                h2
                    strong Why Me?
                //p Lorem ipsum dolor sit amet, consectetur adipisicing elit.

        div.pv-40
            div.owl-carousel.space-top.content-slider

                each reference in references

                    div.row.reference
                        div.col-md-8.col-md-offset-2
                            div.testimonial.text-center

                                h3.references__title=reference.title
                                div.separator
                                div.testimonial-body.padding-bo
                                    blockquote
                                        p.references__content=reference.description
                                    img.img-circle.references__author-icon(src="public/images/" + reference.author.image)
                                    div.references__author-fullname=reference.author.fullname
                                    div.references__author-position=reference.author.position
