section#about.light-gray-bg.pv-20
    div.container
        div.row
            div.col-md-8.col-md-offset-2.text-center.pv-20
                br
                h1.title.large
                    span.text-default About
                    .
                        Me
                div.separator
                p.large Hello I'm Robert. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi perferendis magnam ea necessitatibus, officiis voluptas odit! Aperiam omnis, cupiditate laudantium velit nostrum, exercitationem accusamus, possimus soluta illo deserunt tempora qui.

                // timeline grid start
                div.timeline.margin-clear.clearfix

                    div.timeline-item
                        div.white-bg.shadow.p-20.text-center.object-non-visible(
                            data-animation-effect="fadeInUpSmall",
                            data-effect-delay="100")

                            div.timeline-date-label.margin-clear.clearfix 2011 - 2016
                            h3 Web Developer at HtmlEncoder
                            div.separator
                            p Mauris dolor sapien, malesuada at interdum ut, hendrerit eget lorem. Nunc interdum mi neque, et  sollicitudin purus fermentum ut. Suspendisse faucibus nibh odio, a vehicula eros pharetra in. Maecenas  ullamcorper commodo rutrum.


                    div.timeline-item.pull-right
                        div.white-bg.shadow.p-20.text-center.object-non-visible(
                        data-animation-effect="fadeInUpSmall",
                        data-effect-delay="100")

                            div.timeline-date-label.margin-clear.clearfix 2011 - 2016
                            h3 Web Developer at HtmlEncoder
                            div.separator
                            p Mauris dolor sapien, malesuada at interdum ut, hendrerit eget lorem. Nunc interdum mi neque, et  sollicitudin purus fermentum ut. Suspendisse faucibus nibh odio, a vehicula eros pharetra in. Maecenas  ullamcorper commodo rutrum.



                    div.timeline-item
                        div.white-bg.shadow.p-20.text-center.object-non-visible(
                        data-animation-effect="fadeInUpSmall",
                        data-effect-delay="100")

                            div.timeline-date-label.margin-clear.clearfix 2011 - 2016
                            h3 Web Developer at HtmlEncoder
                            div.separator
                            p Mauris dolor sapien, malesuada at interdum ut, hendrerit eget lorem. Nunc interdum mi neque, et  sollicitudin purus fermentum ut. Suspendisse faucibus nibh odio, a vehicula eros pharetra in. Maecenas  ullamcorper commodo rutrum.